body {
    background-image: url("./gambar/bg.jpg");
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: blue;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: blue;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:rgb(48, 70, 102);
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:rgb(48, 70, 102);
}